@media (max-width: 524px) {
  .adviceCard{
    width: 355px !important;
    padding: 40px 30px !important;
  }
}


body{
  background-color: hsl(218, 23%, 16%) !important;
  font-family: 'Manrope', sans-serif !important;
}
.adviceCard{
  background-color: hsl(217, 19%, 24%);
  margin-top: 170px ;
  padding: 40px 40px 40px 40px ;
  flex: 0 0 auto;
  width: 524px ;
  border-radius: 16px;
}
.advice{
  color: hsl(193, 38%, 86%);
  /* font-weight: 800; */
  font-weight: bold;
  font-size: 28px;
}
.id{
  color: hsl(150, 100%, 66%);
  font-size: 14px;
  font-family: monospace;
}
.dice{
  background-color: hsl(150, 100%, 66%);
  height: 64px;
  width: 64px !important;
  border-radius: 9999px;
  cursor: pointer;
 
}
/* main{
  display: flex;
} */
.diceIcon{
  margin-top: 21px;
}
.dice:hover{
  box-shadow: 0 0 20px 12px rgba(82, 255, 169, 0.25);
  transition: all 200ms ease-out;
  /* transition-timing-function: cubic-bezier(.4,0,.2,1); */
}
